/* 
    Document   : myaccount-page
    Created on : Jul 24, 2013, 10:59:57 AM
    Author     : Ranjan
    Description:
        Purpose of the stylesheet follows.
*/



div.AccountDetailsMenu
{
    
    margin-top: 10px;
    position: absolute;
    width: 180px;
    height: auto;
    background-color: lightseagreen;
    border: 1px solid  activecaption;
    box-shadow: 5px 10px 5px #888888;
}
div.AccountDetailsDisplayer
{
    margin-top: 10px;
    margin-left: 190px;
    width: 890px;
    height: 1000px;
    /*background-color:  aquamarine;*/
    padding: 10px;
}

#edit-pofile:hover
{
    background-color: red;
}