@charset "utf-8";
/* CSS Document */
BODY {
	TEXT-ALIGN: center; FONT-FAMILY: tahoma, helvetica, arial, sans-serif; 
	BACKGROUND:url(../images/page_bg.gif); FONT-SIZE: 10px
}
HTML {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#wrapper {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	FONT-SIZE: 10px
}
TD {
	FONT-SIZE: 10px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#wrapper {
	POSITION: relative; TEXT-ALIGN: left; MARGIN: auto; WIDTH: 748px
}
H1 {
	FONT-SIZE: 10px
}
H2 {
	FONT-SIZE: 10px
}
H3 {
	FONT-SIZE: 10px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 4px
}
.block {
	DISPLAY: block
}
.clear {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 3px; HEIGHT: 2px; CLEAR: both; FONT-SIZE: 1px; PADDING-TOP: 0px
}
.left {
	MARGIN: 1px 8px 0px 0px; FLOAT: left
}
.softright {
	TEXT-ALIGN: right
}
.readmore {
	TEXT-ALIGN: right
}
#inner {
	BORDER-LEFT: #fff 2px solid; MARGIN-BOTTOM: 10px; BACKGROUND: white; COLOR: black; BORDER-RIGHT: #fff 2px solid
}
#header {
	POSITION: relative; BACKGROUND: url(../images/header_bg.gif) repeat-x; PADDING-TOP: 9px
}
#header IMG {
	DISPLAY: block
}
#nav {
	POSITION: absolute; WIDTH: 200px; TOP: 40px; LEFT: 550px
}
#nav {
	COLOR: white; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#nav A {
	COLOR: white; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#nav A:hover {
	TEXT-DECORATION: underline
}
#browse {
	BORDER-BOTTOM: white 2px solid; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; 
	WIDTH: 195px; PADDING-RIGHT: 0px; BACKGROUND: white; FLOAT: left; PADDING-TOP: 0px
}
#browse DT {
	TEXT-ALIGN: center; PADDING-BOTTOM: 6px; MARGIN: 2px 2px 1px;
	PADDING-LEFT: 0px; PADDING-RIGHT: 0px; 
	BACKGROUND:url(../images/dt_bg.gif) #c80000 repeat-x 50% bottom; COLOR: #fff; FONT-WEIGHT: bold; PADDING-TOP: 6px;
}
#browse DD {
	BORDER-BOTTOM: #659db4 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px 2px;
	PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #227293; PADDING-TOP:0px
}
#browse DD A {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 22px; PADDING-RIGHT: 22px; 
	DISPLAY:block; COLOR: white; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 3px
}
* HTML #browse DD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;
}
* HTML #browse DD A {
	DISPLAY: block
}
#browse DD A:hover {
	BACKGROUND: #74a7b7
}
#browse .first {
	PADDING-TOP: 10px
}
#browse .last {
	BORDER-BOTTOM: white 1px solid; PADDING-BOTTOM: 8px
}
#browse .searchform {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
#browse .text {
	WIDTH: 160px
}
#browse SELECT {
	WIDTH: 160px
}
#browse FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#browse FORM DIV {
	PADDING-BOTTOM: 8px; WIDTH: 165px
}
#body {
	BORDER-BOTTOM: #e5e5e5 1px solid; POSITION: relative; 
	BORDER-LEFT: #e5e5e5 1px solid; MARGIN: 2px 1px 0px 0px; WIDTH: 543px; FLOAT: right; 
	BORDER-TOP: #e5e5e5 1px solid; BORDER-RIGHT: #e5e5e5 1px solid;
}
#body P {
	PADDING-BOTTOM: 0px; MARGIN: 1em 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#body .leftbox {
	MARGIN-TOP: 5px; COLOR: #464646
}
#body .rightbox {
	MARGIN-TOP: 5px; COLOR: #464646
}
#body .leftbox {
	WIDTH: 250px; FLOAT: left
}
#body .rightbox {
	BORDER-LEFT: #e5e5e5 1px solid; WIDTH: 252px; FLOAT: right; MARGIN-RIGHT: 18px
}
* HTML #body .rightbox {
	MARGIN-RIGHT: 10px
}
#body .br {
	BORDER-BOTTOM: #e5e5e5 1px solid
}
#body .readmore {
	PADDING-BOTTOM: 0px; MARGIN-TOP: -0.5em; MARGIN-BOTTOM: 0px; 
}
#body .readmore A {
	COLOR: #ad1c1c
}
#body .readmore A:hover {
	COLOR: #f73838
}
#body H3 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 1px 0px 3px;
	PADDING-LEFT: 18px; PADDING-RIGHT: 0px; 
	FONT-FAMILY: "Keble Condensed","KebleCondensed", "arial narrow", helvetica, arial, sans-serif; 
	COLOR: #5d5d5d; FONT-SIZE: 15px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
#footer {
	BORDER-BOTTOM: white 2px solid; POSITION: relative; TEXT-ALIGN: center;
	PADDING-BOTTOM: 5px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px;
	BACKGROUND:url(../images/footer_bg.gif) #c80000 repeat-x; PADDING-TOP: 8px
	}
#footer {
	COLOR: white; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#footer A {
	COLOR: white; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#footnav {
	POSITION: absolute; TEXT-ALIGN: right; PADDING-BOTTOM: 5px;PADDING-LEFT: 0px; PADDING-RIGHT: 0px; TOP: 0px; RIGHT: 10px; 
	PADDING-TOP: 8px;
}

.welcome {
	font-size: 14px;
	font-weight: bold;
	text-transform: none;
	color: #ff942d;
	background-repeat: no-repeat;
	padding-left: 10px;
	padding-top: 10px;
}
.body_txt {
	color: #333;
	text-align: justify;
	padding: 10px;
	font-stretch:expanded;
	font-size-adjust:12px;
	font-size:12px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	vertical-align: top;
}
.page_head
{
}
.contact
{
	font-size:12px;
	font-stretch:ultra-expanded;
}



A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: red; TEXT-DECORATION: none
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}

.rowhighlight
{
	background-color: #FFF8E9;
	color: #000000;
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Arial, Helvetica;
}

.row1{
	BACKGROUND-COLOR: #EDF4FF;	COLOR: #000000;	FONT-SIZE: 11px;FONT-FAMILY: Verdana, Arial, Helvetica;
}
.row2{
	BACKGROUND-COLOR: #F7FAFF;	COLOR: #000000;	FONT-SIZE: 11px;FONT-FAMILY: Verdana, Arial, Helvetica;
}
.rowerror
{
	background-color: #E05353;
	color: #FFFFFF;
    FONT-SIZE: 12px;
    FONT-FAMILY: Verdana, Arial
}
.tboard
{
background-color: #FFFFFF;
	color: #000000;
	border: 1px solid #6393DF;
}
.infomsg
{
	BACKGROUND: #F7FAFF url(../images/hovertabbg.gif) REPEAT-X BOTTOM LEFT;
	COLOR: #999;
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana, Arial, Helvetica;
	font-weight:bold;
}
.errormsg
{
	BACKGROUND: #F7FAFF url(../images/menusection12.gif) REPEAT-X BOTTOM LEFT;
	color: #999;
    FONT-SIZE: 11px;
	FONT-FAMILY: Verdana, Arial, Helvetica;
	font-weight:bold;
	
}

