table.footer
{
    width:1370px;
    height:50px;
    background-color:#99CC33;
    font-weight:bold;
    font-family:Comic Sans MS;
    font-size:10px;
    font-style:bold;
    bordercolor:black;
    border-color:black;
}

h1
{
    font-style:Comic Sans MS;
    color:red;
}
